<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <link href="../css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">

  <style>
    * {
      font-family: 'Jua', sans-serif;
    }
    /* 버튼 아래에 간격 추가 */
    .mybtns {
      justify-content: space-between;
      margin-bottom: 10px;
    }
    .input-group {
      justify-content: space-between;
      margin-bottom: 10px;
      /*width: 500px;*/
    }




  </style>
</head>
<body>

<div class="container" style="max-width: 1000px">

  <div class="py-5 text-center">
    <h1>Error Log 전체보기</h1>
  </div>

  <div class="mybtns">
    <button type="button" class="w-20 btn btn-primary btn-lg" onclick="location.href='/log/timeDesc'">시간순</button>
    <button type="button" class="w-20 btn btn-primary btn-lg" onclick="location.href='/log/mostError'">가장 많이나온 에러코드</button>
    <button type="button" class="w-20 btn btn-primary btn-lg" onclick="location.href='/log/mostFrequentTime'">가장 많이나온 시간대</button>
  </div>

  <form th:action="@{/log/timeRng}" method="get">
    <div class="input-group" style="width: 565px">
      <span class="input-group-text">시작 | 종료시간</span>
      <!-- name 속성 추가 -->
      <input type="text" name="start" aria-label="start" class="form-control">
      <input type="text" name="end" aria-label="end" class="form-control">
      <div class="col">
        <button class="w-10 btn btn-primary btn-lg">검색</button>
      </div>
    </div>
  </form>

  <form th:action="@{/log/userId}" method="get">
    <div class="input-group" style="width: 725px">
      <span class="input-group-text" id="inputGroup-sizing-default" style="width: 119px ">사용자 id</span>
      <input type="text" class="form-control" name="userId" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
      <div class="col">
        <button class="w-10 btn btn-primary btn-lg">검색</button>
      </div>
    </div>
  </form>




  <hr class="my-4">
  <div class="text-center">
    <table class="table">
      <thead>
      <tr>
        <th>고객 id</th>
        <th>에러 유형</th>
        <th>에러 시간</th>
        <th>에러 메시지</th>
      </thead>
      <tbody>
      <tr th:each="log :${foundAllLog}">
        <td th:text="${log.getUserId()}">고객 id</td>
        <td th:text="${log.getErrorCode()}">에러 유형</td>
        <td th:text="${log.getErrorTime()}">에러 시간</td>
        <td th:text="${log.getErrorMessage()}">에러 메시지</td>
      </tr>
      </tbody>
    </table>
  </div>
</div> <!-- /container -->
</body>
</html>